h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

header{
  margin-bottom: 4%;
}

.board{
  margin:auto;
  width: 806px;
  height: 806px;
  border: solid;
  border-color: grey;
  line-height: 0px;
}

.grey{
  background-color: grey;
}

.white{
  background-color: white;
}
